@font-face {
    -fx-font-family: Roboto;
    src: url("fonts/Roboto-Regular.ttf");
}

HBox > Text {
    -fx-font-family: Roboto;
    -fx-font-size: 52px;
}

#log {
    -fx-font-family: Roboto;
    -fx-font-size: 24px;
}

#messages {
    -fx-font-family: Roboto;
    -fx-font-size: 32px;
}

#refill {
    -fx-font-family: Roboto;
    -fx-font-size: 30px;
    -fx-border-width: 0px;
}


